data/raw
data/analysis
Proofs
.idea
__pycache__
not required
data_collection.log
comprehensive_wind_data_collector.py
requirements.txt
run_wind_data_collection.py
test_nasa_api.py
test
.gitignore
data/processed/city_wise